@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  background-color: #f1f5f8;
}

.input-style {
  @apply px-2 w-full h-9 outline outline-1 outline-gray-400;
}
.fade {
  cursor: not-allowed;
  opacity: 0.75;
}
.no-fade {
  cursor: pointer;
}
.cta-active {
  cursor: pointer;
}
.cta-noactive {
  cursor: not-allowed;
}
.textarea {
  height: 100px;
}
